

<div class="container">
   
        <div class="row">
            {{!-- col setting must be present for d-flex to work --}}
            <div class="col-sm-12 col-lg-12">
                <div class="d-flex justify-content-center">
                    <img id="burgerImgId" src="cheeseburger_no_Background.png" alt="cheeseburger">
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-sm-12 col-lg-12">
                 <div class="d-flex justify-content-center">
                    <h1>Eat-Da-Burger!</h1>
                </div>  
            </div>

        </div>
           

</div>

<div class="container">
    
    <div class="row">
        {{!-- The li will be loaded in the partial view --}}
        <div class="col-sm-12 col-lg-6">
            <div class="list-group">
                {{#each burgers}}
                    {{#unless devoured}}
                        {{> burgers/burger-block devoured=true}}
                    {{/unless}}                
                {{/each}}
            </div>
            
        </div>

        <div class="col-lg-1"></div>

        <div class="col-sm-12 col-lg-5">
            <div class="list-group">
                {{#each burgers}}
                    {{#if devoured}}
                        {{> burgers/burger-block devoured=false}}
                    {{/if}}
                {{/each}}
            </div>
        </div>
        

    </div>

</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-lg-12">
             {{!-- Add new Burgers --}}
            <form >

                <div class="d-flex justify-content-center">
                    {{!-- This will use the POST Router --}}
                    <textarea name="burger" id="burgerName" cols="30" rows="2"></textarea>
                </div>
                
                <br>

                <div class="d-flex justify-content-center">
                    <button type="submit" id="newBurger">Submit</button>
                </div>
                
                <div class="d-flex justify-content-center">
                    <p>Enter a burger you want to eat and Click the "Submit" button</p>
                </div>
                  
            </form>
        </div>
       
    </div>
</div>
    



