

<div class="container">
    
    <h1>Burgers</h1>

    <div class="row">
        {{!-- The li will be loaded in the partial view --}}
        <ol class="col col-sm-12 col-lg-3" id="burgersAvailableId">
            {{#each burgers}}
                {{#unless devoured}}
                    {{> burgers/burger-block devoured=true}}
                {{/unless}}                
            {{/each}}
        </ol>

        <ul class="col col-sm-12 col-lg-3" id="burgersDevouredId">
            {{#each burgers}}
                {{#if devoured}}
                    {{> burgers/burger-block devoured=false}}
                {{/if}}
            {{/each}}
        </ul>

    </div>


    {{!-- Add new Burgers --}}
    <form class="row">

        {{!-- This will use the POST Router --}}
        <textarea name="burger" id="burgerName" cols="30" rows="2"></textarea>
        <br>
        <button type="submit" id="newBurger">Submit</button>

    </form>

</div>

