
body{
    background-image: linear-gradient(to left, #f09c20, #f0ba6bbd);
}

h1{
    color: red;
}

.container {
    margin: 10px;
}

#burgerImgId{
    width: 100px;
    height: auto;
}

.list-group-item{
    margin-bottom: 2.5px;
}

.devourCnt{
    padding-top: 10px;
}

.devouredList{
    background: antiquewhite;
    padding: 2px;
}





